body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color:#6FC3DF;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color:  #DF740C;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #96968e;
  padding: 120x;
  border-style: solid;
  border-width: 2px;
  border-color:  #DF740C;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

input {
  color:black;
  background-color: #e0e0d1;
  font-family: sans-serif;
  font-size: 14px;
}

/* Style the footer */
footer {
  background-color: #96968e;/*ccccb3*/
  padding: 10px;
  text-align: center;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color:  #DF740C;
}
/*style links */
a:link, a:visited {
  background-color: #96968e;/*ccccb3*/
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
    background-color: #DF740C;
}

fieldset {
  border-style: solid;
  border-width: 2px;
  border-color:  #DF740C;
  padding: 20px;
}




